Add audio or video to your site by embedding the players or files in your pages. 

Use an Adobe Edge WebFont in your site.

Create a style sheet for printing the home page of your site in a readable form. 

Add a transition to your site or a transform that uses a transition on an image. 

Use JavaScript and jQuery to add responsive Slicknav navigation to your site.

Use Flexible Box, not grid layout.

Use media queries for screen media type

Add a table that presents tabular SITE RELATED data to a page on the site. 

Add a form that lets the user enter first name, last name, email address, and comments along with Reset and Submit buttons. 
(Of course, the data won’t be processed because there’s no client-side or server-side script for doing that. 
However, the data should be submitted to a page that has a link back to the home page. Also, the data that is passed to the page 
should be visible in the URL for the page.)

2-column layout on one page, page must be responsive and reduce to one column in cell phone sizes.

Utilize a List on a page, Ordered or Un-ordered

At least 3 images

Website consists of at least six pages: a home page and at least five content pages. Each page also has comment section,  specific metadata, date tested, date produced etc.

Final site must be deployed to GitHub and URL submitted with final project.